.general {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  width: 50PXs;
  justify-content: center;
}
.form-controll {
  background-color: #ffff;
  border-color: #b87e0b;
  padding: 15px;
  width: 95%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btnn {
  background-color: #b87e0b;
  border-color: #b87e0b;
  padding: 15px;
  width: 98.5%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.buttonn {
  background-color: #ffff;
  border-color: #b87e0b;
  padding: 15px;
  width: 98.5%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.sign {
  padding-left: 350px;
  padding-right: 150px;
  padding-top: 8px;
  margin-bottom: 10px;
}
.an {
  padding-left: 350px;
  padding-right: 150px;
  padding-top: 20px;
  margin-bottom: 10px;
}
