* {
  padding: 0;
  margin: 0;
}

.formDiv {
  display: flex;
  justify-content: center;
}

.formDivTwo {
  background-color: #ffffff;
  padding: 20px;
  align-items: center;
}

.formDivTwo h2 {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  color: #b87e0b;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}

.formDivTwo p {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 10px;
}

.input {
  background-color: #f0ebeb;
  border: none;
  padding: 15px;
  width: 95%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.buttonMain {
  border: none;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.buttonMainDiv {
    display: flex;
    justify-content: center;
}
