*{
    padding: 0;
    margin: o;
}

.footermainDiv{
    background-color: black;
    /* height: 300px; */
    padding-left: 150px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.footermainDiv h3{
    color: white;
}

.para{
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    margin-top: 20px;
}

.para-nice{
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    margin-top: 20px;
}

.para li {
    list-style: none;
    margin-bottom: 10px;
}

.para li a {
    color: #b87e0b;
}

.footerSecondDiv{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.copyright{
    color: #b87e0b;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.copyright p{
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}