*{
    margin: 0;
    padding: 0;
}

.logoDiv{
    display: flex;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navUl{
    display: flex;
    gap: 20px;
}

.navUlLi{
    list-style: none;
}

.navUlA{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.navUlA:hover{
    color: #B87E0B;
}

.lastSection{
    display: flex;
    gap: 20px;
}

.navUlAright{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.navUlArightButton{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    background-color: #B87E0B;
    padding: 10px;
    border-radius: 5px;
}

.logoP{
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
}

.logoPi{
    color: #B87E0B;
    font-size: 20px;
    font-weight: 200;
}

